### Terraform ###
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!terraform.tfvars.example
!environments/*.tfvars
spacelift.auto.tfvars
.terraform/
.terraform.lock.hcl
*.log
crash.log
crash.*.log

### IDE ###
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

### Local development ###
.env
.env.local
local.tfvars
