### Terraform ###
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!apps/*/terraform.tfvars.example
!apps/*/environments/*.tfvars
apps/*/spacelift.auto.tfvars
.terraform/
.terraform.lock.hcl
*.log
crash.log
crash.*.log

### IDE ###
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

### Local development ###
.env
.env.local
local.tfvars
